body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #5471c8;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    background: rgb(115, 144, 169);
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: none;
}
.nav {
    background: #273a85;
    padding: 10px;
    color: white;
}
.nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}
.footer {
    margin-top: 20px;
    padding: 10px;
    background: #294189;
    color: white;
}